* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

/.github export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
